.Notification {
  max-width: 80%;
  margin: 0 auto;

  &__message {
    font-size: 12px;
    font-weight: bold;
    padding: 8px 16px;
    font-size: 16px;

    &--success {
      background: #059669;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 4px;
    }

    &--error {
      background: #DC2626;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 4px;
    }
  }
}