.Notification {
  &__message {
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;

    &--success {
      color: #059669;
      border: 1px solid #059669;
      border-radius: 4px;
    }

    &--error {
      color: #DC2626;
      border: 1px solid #DC2626;
      border-radius: 4px;
    }
  }
}