@import './pattern';

body {
  font-family: $primary-font-family;
  font-size: 16px;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(63.18deg, #4158D0 0%, #C850C0 51.89%, #FFCC70 100%);
}